.caixa1 {
  background: blue;
  color: white;
}
.caixa2{
    background: red;
    color: white;
}
.caixa3{
    background: green;
    color:white
}

.caixa4{
    background: orangered;
    color: white;
}
.caixa5{
background:Yellow ;
color:white
}