body{
    font-size: 25px;
    margin:0px;
    box-sizing:border-box;
    
} 

p{
    background-color: yellow;
    border: 3px solid red;
    height: 160px;
    width: 356px;
    font-size: 17px;
    text-align: justify;
    padding: 20px 50px ;
  
}

.frase1{
    margin:2px;
    margin-top: 50px;
    box-sizing: border-box;
}
.frase2{
    margin:2px;
    margin-top: 50px;
    box-sizing: border-box;
    
}
