
body{
    font-family:'Open Sans', sans-serif;
}

header{
background: #bbbbbb; 
margin: 0 auto;
}

.caixa{width:940px;
margin: 0 auto;
}
nav a{
 text-decoration: none;
color: black;

}
nav a:hover{
	color:#C78C19

}

.caixa nav{
position: absolute;
left: 60%;
top:110px;
}
.caixa li{
display: inline-block;
font-size: 25px;
font-weight: bolder;
margin-left: 14px;
}


.produtos{
width: 940px;
padding:50px 0;
margin: 0 15%;
}
.produtos li{
vertical-align: top;
margin: 0 10px;
padding:30px 15px;
display: inline-block;
border:solid #000000 2px;
box-sizing: border-box;
border-radius: 10px;
text-align: center;
width:30%;
font-size: 15px;
font-weight: bold;
}

.produtos h4{
    font-weight: bolder;font-size: 25px;
}

.produtos li:hover h4{
font-size: 35px;
}
.produtos li:hover{
    border:solid #C78C19;
    padding: 35px 20px;
    margin: 0 auto;  
}

footer{
    text-align: center;
    background:url(bg.jpg);
}
 
.Copyright{
color: #ffffff;
font-size: 13px;
padding: 20px;


}

